* {
  box-sizing: border-box;
  margin: 0;
}
b {
  font-size: 25px;
}

h4 {
  font-weight: lighter;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#header {
  width: 100%;
  text-align: center;
  margin: 10px;
}

#main_content {
  display: flex;
  flex-direction: row;
  width: 100%;

}

#info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px;
}

#courses {

  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 20px;
}
.campus {
  background-color: rgb(231, 190, 4);
  color: darkblue;
  font-size: 50px;
  width: 60%;
}

#nav {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 20px;
}

.links {
  text-align: center;
  font-size: 40px;
  background-color: rgb(17, 11, 95);
  width: 300px;
  height: 100px;
  padding: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px;
  color:yellow;

}

.links:hover {
  background: #ffbb01;
  text-decoration: none;
  color: darkblue;
  font-size: 35px;
  transition: all .03 ease-in-out;
}

.nav_wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 40%;
}

#footer {
  display: flex;
  flex-direction: row;
  
}
#img_footer {
  opacity: 0.6;
  height: 5%;
  width: 20%;
  margin-left: 20%;
}

.address {
 text-align: center;
 font-size: 25px;
 margin-bottom: 20px;
 font-weight: 700;
}